<main id="AirQuality" class="weather-product-window" v-drag="">
  <header>
    <span>空气质量3天预报</span>
    <aside>
      <button class="close" v-on:click="toggleProductView_global({id: productId, action: false})"></button>
    </aside>
  </header>
  <section class="air-quality">
    <dl>
      <dt>类型</dt>
      <dd>
        <select v-model="typeSelected">
          <option  v-for="item of typeList" :value="'val_' + item">{{ item }}</option>
        </select>
      </dd>
    </dl>
  </section>
</main>